body {
    padding-top: 50px;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    /*background-color: #f5f5f5;*/
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.footer .container {
    width: auto;
    max-width: 768px;
    padding: 0 15px;
}
.container .text-muted {
    /*margin: 20px 0;*/
}

.c-content{
    margin-top: 10px;
}




.c-event{

}

.c-event .list-group-item-padding{
    padding: 5px 0 5px 0;
}
.c-event .event-li{}

.c-event .event-li span{
    float: right;
    margin-right: 30px;
}

.c-ed-content{

}

.c-cd-content .c-cd-head{
    padding: 0px 0px 10px 0px;
    font-size: 25px;
}

.c-cd-content .c-cd-body{
    padding: 0px 10px;
}

.c-cd-content .c-cd-body p{
    text-indent: 2em;
    font-size: 14px !important;
}



.c-about{
    padding-left: 0px;
}

.c-about .c-about-detail p{
    text-indent: 2em;
    font-size: 16px !important;
}


.c-contact{
    padding-left: 0px;
}

.c-contact .c-contact-detail p{
    font-size: 16px !important;
}


.c-sr-group{
    padding: 30px;

}

.c-sr-group .c-search{

}

.c-sr-group .c-list{
    padding-top: 10px;
}

.c-sr-category{

    display: inline-block;
    border: 1px solid #DDD;
    margin-top: 15px;
}

.c-sr-category .c-sr-category-list{
    margin-left: 108px;

}

.c-sr-category .c-sr-category-list ul{

    list-style: none;
    display: inline;

}

.c-sr-category .c-sr-category-list ul li{

    float: left;
    height: 26px;
    line-height: 26px;
    padding: 0 15px;
}

.c-sr-category .c-sr-category-list a{
    white-space: nowrap;
    color: #005aa0;
}

.c-sr-category .c-sr-category-list a:hover{
    white-space: nowrap;
    color: #e4393c;
}

.c-sr-category  .c-sr-category-label{
    background: #f3f3f3;
    float: left;
    width: 100px;
    line-height: 34px;
    padding-left: 8px;

}



























