<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>吴江市文教牛津布厂</title>
    <meta name=”description” content="吴江市文教牛津布厂 牛津布厂"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="apro/css/carousel.css" rel="stylesheet" media="screen">

    <link href="apro/css/apro.css" rel="stylesheet" media="screen">

    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="screen">
    <script src="jquery/jquery-3.2.1.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="assets/js/ie10-viewport-bug-workaround.js"></script>

    <style type="text/css">


    </style>

</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">吴江市文教牛津布厂</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="mat.html">我们的产品</a></li>
                <li><a href="about.html">关于我们</a></li>
                <li><a href="contact.html">联系我们</a></li>
                <li><a href="event.html">公司动态</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>


<!--<div id="myCarousel" class="carousel " data-ride="carousel">-->
    <!--&lt;!&ndash; Indicators &ndash;&gt;-->
    <!--&lt;!&ndash;<ol class="carousel-indicators">&ndash;&gt;-->
        <!--&lt;!&ndash;<li data-target="#myCarousel" data-slide-to="0" class="active"></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li data-target="#myCarousel" data-slide-to="1"></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li data-target="#myCarousel" data-slide-to="2"></li>&ndash;&gt;-->
    <!--&lt;!&ndash;</ol>&ndash;&gt;-->
    <!--<div class="carousel-inner" role="listbox">-->
        <!--<div class="item active">-->
            <!--<img class="first-slide" src="apro/img/company.jpg" alt="First slide">-->
            <!--<div class="container">-->
                <!--<div class="carousel-caption">-->
                    <!--<h1></h1>-->
                    <!--<p></p>-->
                    <!--<p><a class="btn btn-lg btn-primary" href="#" role="button">更多产品</a></p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->
<!--</div>&lt;!&ndash; /.carousel &ndash;&gt;-->

<!-- Carousel
   ================================================== -->


<div class="c-content">


    <div class="container">

        <ol class="breadcrumb">
            <li><a href="index.html">首页</a></li>
            <li class="active">关于我们</li>
        </ol>

    </div>

    <div class="container">

        <div class="col-lg-9 c-about">
            <div class="jumbotron c-about-detail">
                <p>吴江市文教牛津布厂简介 本厂成立于1985年，原属于校办企业，2003年转制为民营企业。现工厂座落在吴江市八坼民营开发区南刘路。本厂自1990年起生产牛津布，是中国大陆上最早专业生产牛津布的几家工厂之一，也是迄今为止这几家工厂中，唯一继续专业生产牛津布的工厂。目前织造设备有大龙头织机配备四喷、三喷、二喷、提花龙头机、双泵双喷龙头机、 多选纬剑杆机等，前道设备有落丝车、倍捻机、分条整经车等。自牛津布上市以来，本厂认定牛津布不放，一直专注于生产、研发各种规格的牛津布，在多年的实践过程中，开发了许多新产品，摸索了大量的经验和教训，提高了企业各方面的素质和实力。 本工厂一向秉承“宁精勿滥”的生产方针，现侧重于生产加捻、加重、加厚、加密箱包、帐篷牛津布，色织牛津布，特殊、特种规格的牛津布。产品覆盖涤纶弹丝150D、300D、450D、600D、900D、1200D、1500D、1800D、2400D 、3000D及涤纶长丝210D、420D、840D、1200D以及1680D、2520D加捻系列精品箱包布等各种规格平纹、斜纹、提花、色织条子、色织格子牛津布。</p>
                <p>本厂年生产总值超亿元，常年供应牛津布面料，产品远销美国、马来西亚等国。我厂曾先后为康奈集团、上海互邦医疗器械有限公司、江苏鱼跃医疗等国内大型上市企业供应面料，以信誉达成合作、质量赢得市场，更被业内誉为“牛津布大王”。</p>
                <p>牛津布——质地坚，价格低，品种多，色泽艳、用途广，现在越来越多的领域相继采用，如：箱包面料、里料，帐篷、遮阳伞、马衣、炮衣、睡袋、车用椅套、沙滩椅、气膜布料、广告布类、热涨管对垫等布料以及鞋子面料、里料，服装面料、里料等等。 本厂销售宗旨是“质量满意、价格合理、交货及时、信誉第一”，我们一贯以诚信的态度与新老客户合作，认真操作，急客户所急，想客户所想，友好合作，共同发展，欢迎海内外朋友来样定制，开发新品。       </p>
            </div>

        </div>

        <div class="col-lg-3">
            <div class="">
                <a href="#"><img class="img-thumbnail" src="apro/img/blue.jpg" alt="..."></a>
                <div class="caption text-center">
                    <p>蓝色布料</p>

                </div>
            </div>
            <div class="">
                <a href="#"><img class="img-thumbnail" src="apro/img/green.jpg" alt="..."></a>
                <div class="caption text-center">
                    <p>绿色布料</p>
                </div>
            </div>
            <div class="">
                <a href="#"><img class="img-thumbnail" src="apro/img/red.jpg" alt="..."></a>
                <div class="caption text-center">
                    <p>红色布料</p>
                </div>
            </div>

        </div>



    </div>



</div>



<footer class="footer">
    <div class="container">
        <p class="text-muted">CopyRight © 2006-2010 吴江市文教牛津布厂</p>
        <p class="text-muted">联系电话：0512-63360065  13812691192  13405281040   传真：0512-63369849  地址：吴江市民营开发区八坼镇南刘路</p>
    </div>
</footer>

</body>


<script type="text/javascript">


</script>


</html>