<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="copy">

    <!--<footer class="footer">-->
        <!--<div class="container" style="max-width: 992px;">-->
            <!--<div style="-->
                <!--max-width: 812px;-->
                <!--margin: auto;-->
             <!--">-->
                <!--<img src="apro/img/logo.jpg" th:src="@{/apro/img/logo.jpg}" style="-->
            <!--height: 50px;-->
            <!--width: 50px;-->
            <!--margin-right: 15px;-->
            <!--float: left;-->
            <!--">-->
                <!--<p class="text-muted">CopyRight © 2006-2010 吴江市文教牛津布厂</p>-->
                <!--<p class="text-muted">联系电话：0512-63360065  13812691192  13405281040   传真：0512-63369849  地址：吴江市民营开发区八坼镇南刘路</p>-->

            <!--</div>-->
        <!--</div>-->
    <!--</footer>-->


</div>

</body>

</html>