<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="copy">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" th:href="@{/portal/index}">吴江市文教牛津布厂</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li id="indexView"><a href="index.html" th:href="@{/portal/index}">首页</a></li>
                    <li id="matView"><a href="mat.html" th:href="@{/portal/mat/list}">我们的产品</a></li>
                    <li id="aboutusView"><a href="about.html" th:href="@{/portal/aboutus/detail}" >关于我们</a></li>
                    <li id="contactView"><a href="contact.html" th:href="@{/portal/contact/detail}">联系我们</a></li>
                    <li id="eventView"><a href="event.html" th:href="@{/portal/event/list}" >公司动态</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>


</div>

</body>

</html>